<body class="bg-slate-900">
  {render("header.html", assigns)}
  <main class="px-4 py-20 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">
      <.flash_group flash={@flash} />
      <div class="p-10">
        <h1 class="text-4xl font-bold text-blue-600">{@message}</h1>
      </div>
    </div>
  </main>
</body>
