[Unit]
Description=Let's Encrypt certificate renewal
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
docker compose run --rm certbot renew --post-hook "docker compose exec nginx nginx -s reload"
